<div class="container-fluid">
<div id="storecontent">
                <h1>Информационная система коммерческой службы</h1>
                <p class="lead">Раздел Администрирование - НИЧЕГО НЕ НАЖИМАТЬ!!!</p>

                <p class="lead">Краткое описание пунктов меню:</p>
                <ul>
                  <li><b>Администрирование:</b> </li>
                  <li><b>О системе:</b> работа с обновлениями баз</li>
                  <li><b>Обновление данных:</b> задачи по оптимизации данных</li>
                </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


 </div>

 <footer class="page-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <div>©2025 Коммерческая служба ООО "ИЗДАТЕЛЬСКИЙ ЦЕНТР АКАДЕМИЯ"</div>
                    <div class="small text-muted">Контакты: kotov@academia-moscow.ru</div>
                </div>
            </footer>
</div>