<div class="container-fluid">
<div id="storecontent">
                <h1>Информационная система коммерческой службы</h1>
                <p class="lead">Раздел ЗАКАЗЫ - сведения о заказах</p>

                <p class="lead">Краткое описание пунктов меню:</p>
                <ul>
                  <li><b>Заказы:</b> все заказы из 1С</li>
                  <li><b>Обеспечение заказов:</b> сведения об обеспеченности заказов с учетом изданий без резерва, с указанием прогноза и учета в текущем производстве</li>
                  <li><b>Статистика заказов:</b> статистика по неотгруженным заказам</li>
                  <li><b>Обработка заказа:</b> обработка загруженного заказа или отдельных позиций на предмет обеспечения</li>
                </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


 </div>

 <footer class="page-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <div>©2025 Коммерческая служба ООО "ИЗДАТЕЛЬСКИЙ ЦЕНТР АКАДЕМИЯ"</div>
                    <div class="small text-muted">Контакты: kotov@academia-moscow.ru</div>
                </div>
            </footer>
</div>
