<div class="container-fluid">
            <h1>Все актуальные заказы</h1>

<!-- Первая таблица -->
 <div>
     <table id="ordersTable"  class="display">
         <thead>
         <tr>
             <th>Проект</th>
             <th>БизнесРегион</th>
             <th>Менеджер</th>
             <th>Партнер</th>
             <th>Номер</th>
             <th>Дата</th>
             <th>СтатусЗаказа</th>
             <th>Соглашение</th>
             <th>Количество</th>
             <th>КоличествоРеал</th>
             <th>СуммаРеал</th>
             <th>Соглашение</th>
             <th>Количество</th>
             <th>КоличествоРеал</th>
             <th>ДатаРеализации</th>
             <th>ДокументРеализации</th>
             <th>Сумма_платежа</th>
             <th>ДатаПлатежа</th>
         </tr>
         </thead>
         <tbody>
 {% for res in results %}
     <tr>
        <td>{{ res[0] }}</td>
        <td>{{ res[1] }}</td>
        <td>{{ res[2] }}</td>
        <td>{{ res[3] }}</td>
        <td>{{ res[4] }}</td>
        <td>{{ res[5] }}</td>
        <td>{{ res[6] }}</td>
        <td>{{ res[7] }}</td>
        <td>{{ res[9] }}</td>
        <td>{{ res[10] }}</td>
        <td>{{ res[11] }}</td>
        <td>{{ res[12] }}</td>
        <td>{{ res[13] }}</td>
        <td>{{ res[14] }}</td>
        <td>{{ res[15] }}</td>
        <td>{{ res[16] }}</td>
        <td>{{ res[17] }}</td>
        <td>{{ res[18] }}</td>
     </tr>
 {% endfor %}
         </tbody>
     </table>

 </div>


</div>