{% extends 'base_new.html' %}

{% block title %}Склад{% endblock %}

{% block content %}
    <!-- Блок 2: слева — боковое меню, справа — контент (фиксирован под заголовком) -->
<div id="block2" aria-label="Блок под заголовком">
    <!-- Левое меню -->
    <aside class="sidebar" id="sidebar" aria-label="Левое боковое меню">
        <div class="p-3">
            <h4 class="text-muted">ЗАКАЗЫ</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#" onclick="sendRequest('/demands/about', '#mainContent')">О системе</a>
                <a class="nav-link" href="#" onclick="sendRequest('/demands/dem', '#mainContent')">Заказы (все)</a>
                <a class="nav-link" href="#" onclick="sendRequest('/demands/provision', '#mainContent')">Обеспечение</a>
                <a class="nav-link" href="#" onclick="sendRequest('/demands/ststistic', '#mainContent')">Статистика</a>
                <a class="nav-link" href="#" onclick="sendRequest('/demands/processing', '#mainContent')">Обработка</a>
            </nav>
            <hr />
            <!--
            <div class="small text-muted">Документация и инструкции</div>
            -->
        </div>
    </aside>

    <!-- Контент -->
    <main class="content" id="mainContent" tabindex="0" role="main">
        <div class="container-fluid">
<div id="storecontent">
                <h1>Информационная система коммерческой службы</h1>
                <p class="lead">Равздел ЗАКАЗЫ - сведения о заказах</p>

                <p class="lead">Краткое описание пунктов меню:</p>
                <ul>
                  <li><b>Заказы:</b> все заказы из 1С</li>
                  <li><b>Обеспечение заказов:</b> сведения об обеспеченности заказов с учетом изданий без резерва, с указанием прогноза и учета в текущем производстве</li>
                  <li><b>Статистика заказов:</b> статистика по неотгруженным заказам</li>
                  <li><b>Обработка заказа:</b> обработка загруженного заказа или отдельных позиций на предмет обеспечения</li>
                </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


 </div>

 <footer class="page-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <div>©2025 Коммерческая служба ООО "ИЗДАТЕЛЬСКИЙ ЦЕНТР АКАДЕМИЯ"</div>
                    <div class="small text-muted">Контакты: kotov@academia-moscow.ru</div>
                </div>
            </footer>
</div>
    </main>
</div>


{% endblock %}
