<div class="container-fluid">
<h1>Резервы по изданию</h1>

<!-- Первая таблица -->
 <div>
     <table id="exTableModal"  class="display table-hover row-border table-striped table-bordered table-sticky">
         <thead class="thead-dark">
         <tr>
             <th>Заказ</th>
             <th>Дата_накладной</th>
             <th>Краткое_название_клиента</th>
             <th>Количество</th>
             <th>Сумма_накладной</th>
         </tr>
         </thead>
         <tbody>
 {% for res in results %}
     <tr>
        <td>{{ res[0] }}</td>
        <td>{{ res[1] }}</td>
        <td>{{ res[2] }}</td>
        <td>{{ res[3] }}</td>
        <td>{{ res[4] }}</td>

     </tr>
 {% endfor %}
         </tbody>
     </table>

 </div>


</div>