<div class="container-fluid">
<div id="storecontent">
                <h1>Информационная система коммерческой службы</h1>
                <p class="lead">Равздел EIS - сведения о проектах и изданиях</p>

                <p class="lead">Краткое описание пунктов меню:</p>
                <ul>
                  <li>О системе: краткое описание функционала блока</li>
                  <li>ЕИС-проекты: сведения о проектах и изданиях. В верхней таблице можно в поисковом поле вводить часть названия/ Автора/ код проекта,
                      и получить список подходящих проектов. При щелчке указателем мыши на интересующий проект в нижней таблице появляется список его изданий</li>
                  <li>Остатки на складе: таблица с перечнем позиций на складе и текущими остатками. Фильтр через поле "Поиск" - вводить для поиска можно любые сведения о номенклатуре, имеющиеса в таблице</li>
                </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


 </div>

 <footer class="page-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <div>©2025 Коммерческая служба ООО "ИЗДАТЕЛЬСКИЙ ЦЕНТР АКАДЕМИЯ"</div>
                    <div class="small text-muted">Контакты: kotov@academia-moscow.ru</div>
                </div>
            </footer>
</div>
