  <thead class="thead-dark">
         <tr>
             <th>КодПроекта</th>
             <th>Наименование</th>
             <th>УрОбр</th>
             <th>Статус</th>
             <th>Примечание</th>
             <th>В_резерве</th>
             <th>Доступно</th>
             <th>пр_2023</th>
             <th>пр_2024</th>
             <th>пр_2025</th>
             <th>пр_2026</th>
         </tr>
         </thead>
         <tbody>
 {% for res in results %}
     <tr data-id="{{ res[0] }}">
         <td>{{ res[0] }}</td>
         <td>{{ res[1] }}</td>
         <td>{{ res[2] }}</td>
         <td>{{ res[3] }}</td>
         <td>{{ res[4] }}</td>
         <td style="color: blue;">{{res[5] }}</td>
         <td style="font-weight: bold; color: blue;">{{res[6] }}</td>
         <td>КН:<span style="font-weight: bold; color: blue;">{{ res[7] }}</span>
             <br>
             ЭБ:<span style="font-weight: bold; color: green;">{{ res[8] }}</span>
         </td>
         <td>КН:<span style="font-weight: bold; color: blue;">{{res[9]}}</span>
             <br>
             ЭБ:<span style="font-weight: bold; color: green;">{{ res[10] }}</span>
         </td>
         <td>КН:<span style="font-weight: bold; color: blue;">{{ res[11] }}</span>
             <br>
             ЭБ:<span style="font-weight: bold; color: green;">{{ res[12] }}</span>
         </td>
         <td>КН:<span style="font-weight: bold; color: darkblue;">{{ res[13] }}</span>
             <br>
             ЭБ:<span style="font-weight: bold; color: darkgreen;">{{ res[14] }}</span>
         </td>
     </tr>
 {% endfor %}
         </tbody>
