{% extends 'base_new.html' %}

{% block title %}Отчеты{% endblock %}

{% block content %}
    <!-- Блок 2: слева — боковое меню, справа — контент (фиксирован под заголовком) -->
<div id="block2" aria-label="Блок под заголовком">
    <!-- Левое меню -->
    <aside class="sidebar" id="sidebar" aria-label="Левое боковое меню">
        <div class="p-3">
            <h4 class="text-muted">EIS</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#" onclick="sendRequest('/reports/about', '#mainContent','')">О системе</a>
                <a class="nav-link" href="#" onclick="sendRequest('/reports/dashboard', '#mainContent','')">Информационная доска</a>
                <a class="nav-link" href="#" onclick="sendRequest('/reports/shipments', '#mainContent','')">Отгрузки</a>
                <a class="nav-link" href="#" onclick="sendRequest('/reports/printing', '#mainContent','')">Печать</a>
            </nav>
            <hr />
            <!--
            <div class="small text-muted">Документация и инструкции</div>
            -->
        </div>
    </aside>
    <!-- Контент -->
    <main class="content" id="mainContent" tabindex="0" role="main">
<div class="container-fluid">
<div id="storecontent">
                <h1>Информационная система коммерческой службы</h1>
                <p class="lead">Равздел Отчеты - всевозможные отчеты и индикаторы</p>

                <p class="lead">Краткое описание пунктов меню:</p>
                <ul>
                  <li>О системе: краткое описание функционала блока</li>
                  <li>Информационная доска: оперативные сведения, отображенные с помощью индикаторов и графиков </li>
                  <li>Отгрузки: отчет по продажам внешним контрагентам</li>
                  <li>Печать: отчет по позициям в печати текущего года</li>
                </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


 </div>

 <footer class="page-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <div>©2025 Коммерческая служба ООО "ИЗДАТЕЛЬСКИЙ ЦЕНТР АКАДЕМИЯ"</div>
                    <div class="small text-muted">Контакты: kotov@academia-moscow.ru</div>
                </div>
            </footer>
</div>
    </main>
</div>
{% endblock %}